html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #41090a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  background: #FEF3EE;
  color: #f14823;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px 24px 80px;
  font-size: 20px;
  border-bottom: solid 5px #f14823;
}
.navbar .logo-Navbar {
  width: 10%;
  height: auto;
  padding-left: 80px;
}
.navbar .navbar-button {
  height: auto;
  width: auto;
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 16px;
  padding: 24px 80px 24px 80px;
  cursor: pointer;
}
.navbar .navbar-button button {
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.navbar .login {
  background: #f14823;
  color: #FEF3EE;
  border: none;
  box-shadow: 2px 2px 2px #781816;
}
.navbar .login:hover {
  color: #FEF3EE;
  background: #951917;
}
.navbar .user-Icon {
  width: 12%;
  height: auto;
  padding-right: 100px;
  display: none;
}

.main-Container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-Container h2 {
  font-size: 32px;
}
.main-Container img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.main-Container input {
  width: 600px;
  height: 24px;
  border-radius: 12px;
  padding: 16px;
  position: absolute;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 2px #444444;
}
.main-Container input ::-moz-placeholder {
  color: #41090a;
}
.main-Container input ::placeholder {
  color: #41090a;
}

.category-Meal-Section {
  max-width: auto;
  height: auto;
  padding: 80px 80px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FDE4D7;
}
.category-Meal-Section h2 {
  font-size: 40px;
  color: #E22C14;
  text-shadow: 3px 3px 3px #41090a;
}
.category-Meal-Section .meal-Cards-Container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  display: none;
}
.category-Meal-Section .meal-Cards {
  width: auto;
  justify-content: center;
  display: none;
}
.category-Meal-Section .meal-Card {
  display: flex;
  flex-direction: column;
  margin: 24px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.685);
  cursor: pointer;
  color: #41090a;
  width: auto;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 4px 4px 4px 3px #781816;
}
.category-Meal-Section .meal-Card:hover {
  background: #E22C14;
  color: #FEF3EE;
}
.category-Meal-Section .mealImg {
  height: 55%;
}
.category-Meal-Section .categoryName-Text {
  font-size: 50px;
}

.latestMeal-Section {
  background: #f14823;
  color: #FEF3EE;
  width: auto;
  height: auto;
  padding: 80px 80px 80px 80px;
  display: flex;
  flex-direction: column;
}

.meal-Text {
  font-weight: bold;
  text-align: center;
}

.category-Meal-Section {
  width: auto;
  padding: 80px 80px 80px 80px;
}
.category-Meal-Section .meal-card {
  display: flex;
  flex-direction: column;
  margin: 24px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.685);
  cursor: pointer;
  text-align: center;
  color: #41090a;
  width: auto;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 4px 4px 4px 3px #781816;
}
.category-Meal-Section .meal-card img {
  width: 100%;
  border-radius: 10px;
}

.meal-Description-Section {
  padding: 80px 80px 80px 80px;
  width: auto;
  background: #FDE4D7;
}
.meal-Description-Section .meal-Description {
  padding: 40px 80px 40px 80px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meal-Description-Section .meal-Description img {
  width: 24%;
  border-radius: 10px;
}
.meal-Description-Section .meal-Description h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.meal-Description-Section .meal-Description p {
  margin: 0px;
  padding: 24px 0 24px 0;
  font-size: 18px;
}
.meal-Description-Section .button-back {
  padding: 12px;
  font-size: 16px;
  background: #f14823;
  color: #FEF3EE;
  border-radius: 10px;
}

.aside-Section {
  width: 250px;
  height: auto;
  padding: 40px 40px 40px 40px;
  background: #FEF3EE;
  position: fixed;
  top: 120px;
  right: 100px;
  border-radius: 16px;
}
.aside-Section .closeAsideButton {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 290px;
  font-size: 24px;
  color: #951917;
  font-weight: bold;
  cursor: pointer;
}
.aside-Section .login-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside-Section .login-Title {
  margin: 10px;
}
.aside-Section p {
  margin: 10px;
}
.aside-Section input {
  padding: 10px;
  width: 200px;
  margin: 8px;
  border-radius: 8px;
}
.aside-Section .login-Button {
  margin-top: 20px;
  padding: 10px;
  width: 100px;
  background: #f14823;
  color: #FEF3EE;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.aside-Section .create-Account-Button {
  margin: 0;
  padding: 10px;
  color: #f14823;
  font-size: 14px;
  text-decoration-line: underline;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.aside-Section .login-Button:hover {
  color: #FEF3EE;
  background: #781816;
}
.aside-Section .create-Account-Button:hover {
  color: #951917;
}

footer {
  background: #f14823;
  width: auto;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
}
footer .img-Footer {
  width: 10%;
  height: auto;
}/*# sourceMappingURL=main.css.map */